/* style for hamburger menu */

:root {
  --primary-color: rgba(3, 37, 48, 0.75);
  --overlay-color: rgba(11, 18, 24, 0.85);
  --menu-speed: 0.75s;
  --color-pri: rgba(85, 56, 3, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: white;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: "";
  background: url("../images/christina-wocintechchat-com-9-ohfp-Dicg-unsplash.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.showcase h1 {
  width: 100%;
  font-size: 2.5rem;
  text-align: left;
  padding: 0.25rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 100;
}
.showcase p {
  font-size: 1.3rem;
  width: 100%;
}
.showcase .showcase-inner .p {
  font-family: "Satisfy", cursive;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--color-pri);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}
.btn:hover {
  opacity: 0.7;
}
